* {
  margin: 0;
  padding: 0;
}

@mixin flex($a, $b, $c) {
  display: flex;
  flex-direction: $a;
  justify-content: $b;
  align-items: $c;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  @include flex(column, flex-start, center);
  background-color: #14213d;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}


header {
  margin-top: 30px;
  h2,
  h3 {
    color: #fca311;
    font-weight: 500;
  }
  #moy_cont {
    color: white;
  }
}

main {
  margin-top: 20px;
  @include flex(column, flex-start, flex-start);
  div {
    @include flex(column, center, flex-start);
    label {
      font-size: 1.2rem;
      color: white;
      margin: 10px 0;
    }
    input {
      font-size: 1.2rem;
      border: 0;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      outline: none;
      padding: 5px;
    }
  }
  button {
    margin-top: 40px;
    font-size: 1.2rem;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    outline: none;
    width: 100%;
    height: 40px;
    background-color: #fca311;
    color: white;
    font-weight: 400;
    margin-bottom: 30px;
  }
}
